{% extends 'base.html.twig' %}

{% block title %}Acceuil PresenceController!{% endblock %}

{% block body %}
    <style>

        body{
            background-color: #8fd19e;

        }
        #example-wrapper .container{

        }

    </style>
<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
                <form id="presence-form" class="form" action="" method="post">
                    <h3 class="text-center text-black">Presence</h3>
                    <div class="form-group">
                        <label for="badge" class="text-reset">Code badge</label><br>
                        <input type="text"  value="" class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</div>

{% endblock %}
