{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}


{% block body %}

   <h3 class="text-center text-danger" style="font-weight: bold; padding-bottom: 30px; padding-top: 30px">GESTION DE PRESENCE DES EMPLOYEES</h3>

   <img src="/assets/team nl.jpg" width="100%" height="600" alt="retour" >

{% endblock %}

