{% extends 'base.html.twig' %}

{% block title %}Liste AbsenceController!{% endblock %}

{% block body %}
    <style>

        body{
            background-color: #8fd19e;

        }
        #example-wrapper .container{

        }

    </style>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="presence-form" class="form" action="" method="post">
                        <h3 class="text-center text-danger">Liste d'absence employee</h3>
                        <div class="form-group">


{% endblock %}