{% extends 'base.html.twig' %}

{% block title %}Edit Employee{% endblock %}

{% block body %}
    <img src="/assets/team nl.jpg" width="100%" height="300" alt="retour">


    <div class="container">
        <style>
            body{
                background-color: #8fd19e;
            }
        </style>
        <div class="col-xs-10 col-md-8 ">
    <h1 style="text-align: center; font-weight: bold; padding-top: 20px;">Modification de {{ employee.nom }}</h1>

    {{ include('employee/_form.html.twig', {'button_label': 'Modification'}) }}


    <a href="{{ path('employee_index') }}" class="btn btn-warning">Retour</a>

    {{ include('employee/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
