{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
<style>

    body{
        background-color: #8fd19e;

    }
        #example-wrapper .container{

        }

</style>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">

                        <h3 class="text-center text-black">Hello employe</h3>
                        <div class="form-group">
                            <label for="badge" class="text-reset">Code badge</label><br>
                            <input type="text" id="em" name="em" placeholder="veillez entrer ici...">
                        </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        function envoiData(){
            if('' !== $('#em').val()){
                console.log($('#em').val());
            }
            $('#em').val('');
        }
       setInterval(envoiData, 2000)


    </script>
{% endblock %}
